/* .item{
    text-align: center;
    align-items: center;
    overflow: hidden;
    width: 250px;
    height: 250px;
    background-color: red;
}

.img{
    
    border: 1px solid;

}


    
    
    .alice-carousel__stage-item.__active li{
        background-color: rebeccapurple;

    } */
